<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale = 1.0, user-scalable = no">
	<title>The Gothic Restaurant</title>
	<link rel="stylesheet" href="css/style.css" type="text/css" media="screen">
	<link href="css/prettyPhoto.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="css/normalize.css" type="text/css" media="screen">
	<link rel="stylesheet" href="css/grid.css" type="text/css" media="screen">
	<link rel="shortcut icon" href="/favicon.ico">
	<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,700' rel='stylesheet' type='text/css'>
	
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
	<script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
	<script type="text/javascript" src="js/jquery.prettyPhoto.js"></script>
	<script src="js/jquery.sticky.js"></script>
	<script type="text/javascript" src="js/js.js"></script>
	<script type="text/javascript" src="js/jquery.stellar.min.js"></script>
	<script type="text/javascript" src="js/waypoints.min.js"></script>
  <script type="text/javascript"src="js/jquery.royalslider.min.js"></script>
  <link href="css/royalslider.css" rel="stylesheet" type="text/css" media="screen">
  <link href="css/rs-default.css" rel="stylesheet" type="text/css" media="screen">
	
	<!--[if lt IE 9]>
		<script src="js/html5shiv.js"></script>
		<script src="js/respond.src.js"></script>
	<![endif]-->
	
</head>

<body>
<div class="slide" id="slide1" data-slide="1" data-stellar-background-ratio="0.5">
	<div class="effect_2 padding_slide1">
		<div class="container clearfix">

			<div class="row">
				<div class="filtr_bg">
					<div class="slogan">
						<div class="slogan_text"><a href="#" data-slide="2"><img class="logo" src="images/logo.svg" /></a></div>
					</div>

					<div class="button_block">
						<a class="button" title="" data-slide="2"><span></span></a>
					</div>
				</div>
				<div class="clear"></div>
			</div>
		</div>
	</div>

</div>


<div class="menu">	
	<div class="container clearfix">
		<div id="nav">
			<ul class="navigation">
				<li data-slide="1">Welcome</li>
				<li data-slide="2">Menus</li>
				<li data-slide="4">About</li>
				<li data-slide="6">Reserve</li>
				<li data-slide="8">Connect</li>
				<div class="clear"></div>
			</ul>
		</div>
	</div>
</div>


<div class="slide" id="slide2" data-slide="2" data-stellar-background-ratio="0.5">
	<div class="container clearfix">
    <div id="content-slider-1" class="row royalSlider contentSlider rsDefault">
      <div class="rsContent row omega">
        <div class="course">
  				<h4>starters</h4>
          <dl class="grid_4">
            <dt>smashed peas</dt>
            <dd>burrata | mint | toast</dd>
          </dl>
          <dl class="grid_4">
            <dt>cheese plate</dt>
            <dd>1 block 7 | 2 block 12 | 3 block 16</dd>
          </dl>
          <dl class="grid_4 omega">
            <dt>oysters on the half shell</dt>
            <dd>1/2 dozen 12 | dozen 24</dd>
          </dl>
    			<div class="row omega">
    				<h4>flatbread</h4>
    				<dl class="grid_6">
              <dt>spinach</dt>
              <dd>fennel | dill | goat cheese</dd>
            </dl>
            <dl class="grid_6 omega">
              <dt>smoked chicken</dt>
              <dd>asparagus | ricotta | arugula</dd>
            </dl>
          </div>
  			</div>
  			<div class="row omega">
          <div class="course">
    				<h4>mains</h4>
    				<dl class="grid_6">
              <dt>spinach</dt>
              <dd>fennel | dill | goat cheese</dd>
              <dt>spinach</dt>
              <dd>fennel | dill | goat cheese</dd>
            </dl>
            <dl class="grid_6 omega">
              <dt>smoked chicken</dt>
              <dd>asparagus | ricotta | arugula</dd>
              <dt>smoked chicken</dt>
              <dd>asparagus | ricotta | arugula</dd>
            </dl>
          </div>
  			</div>
  			
        <span class="rsTmb">LUNCH</span>
      </div>
      <div class="rsContent">
        <h3>July 8th, 2013</h3>
        <div class="grid_4">
  				<h4>Land</h4>
  				<dl>
            <dt>summer squash</dt>
            <dd>tomato | green olive | kale pesto</dd>
            <dt>summer squash</dt>
            <dd>tomato | green olive | kale pesto</dd>
            <dt>summer squash</dt>
            <dd>tomato | green olive | kale pesto</dd>
          </dl>
  			</div>
  			<div class="grid_4">
  				<h4>Sea</h4>
  				<dl>
            <dt>summer squash</dt>
            <dd>tomato | green olive | kale pesto</dd>
            <dt>summer squash</dt>
            <dd>tomato | green olive | kale pesto</dd>
            <dt>summer squash</dt>
            <dd>tomato | green olive | kale pesto</dd>
          </dl>
  			</div>
  			<div class="grid_4 omega">
  				<h4>Soil</h4>
  				<dl>
            <dt>summer squash</dt>
            <dd>tomato | green olive | kale pesto</dd>
            <dt>summer squash</dt>
            <dd>tomato | green olive | kale pesto</dd>
            <dt>summer squash</dt>
            <dd>tomato | green olive | kale pesto</dd>
          </dl>
        </div>
        <span class="rsTmb">DINNER</span>
      </div>
      <div class="rsContent">
        <div class="grid_4">
  				<h4>Land</h4>
  				<dl>
            <dt>summer squash</dt>
            <dd>tomato | green olive | kale pesto</dd>
            <dt>summer squash</dt>
            <dd>tomato | green olive | kale pesto</dd>
            <dt>summer squash</dt>
            <dd>tomato | green olive | kale pesto</dd>
          </dl>
  			</div>
  			<div class="grid_4">
  				<h4>Sea</h4>
  				<dl>
            <dt>summer squash</dt>
            <dd>tomato | green olive | kale pesto</dd>
            <dt>summer squash</dt>
            <dd>tomato | green olive | kale pesto</dd>
            <dt>summer squash</dt>
            <dd>tomato | green olive | kale pesto</dd>
          </dl>
  			</div>
  			<div class="grid_4 omega">
  				<h4>Soil</h4>
  				<dl>
            <dt>summer squash</dt>
            <dd>tomato | green olive | kale pesto</dd>
            <dt>summer squash</dt>
            <dd>tomato | green olive | kale pesto</dd>
            <dt>summer squash</dt>
            <dd>tomato | green olive | kale pesto</dd>
          </dl>
        </div>
        <span class="rsTmb">DRINKS</span>
      </div>
    </div>
	</div>
</div>

<div class="slide" id="slide3" data-slide="3" data-stellar-background-ratio="0.5">
	<div class="padding_slide3">
		<div class="container clearfix">
			<div class="row">
			</div>
		</div>
	</div>
</div>

<div class="slide" id="slide4" data-slide="4" data-stellar-background-ratio="0.5">
	<div class="container clearfix">
		<div class="row">
      <div class="grid_7">
        <h1>the cusine</h1>
        <p>At the cross of where tradition meets innovation, we have developed our menu. Taking the best from Maine's land, sea and soil, our chef Jason Paul has embarked on a culinary journey highlighting the best from what's in season. Inspired by the local flora and fauna, we present cuisine that will indulge the senses and nourish the body.</p>
      </div>
      <div class="grid_5 omega">
        <img src="images/circle1.png" alt="The Food"/>
      </div>
      <div class="clear"></div>
      <div class="grid_5">
        <img src="images/circle2.png" alt="The Food"/>
      </div>
      <div class="grid_7 omega">
        <h1>the space</h1>
        <p>Commissioned by The Belfast National Bank in the 1870's and designed by Portland Architect George M. Harding, the High Victorian Gothic style of adorns every corner of Belfast's flatiron building. From the wrought-iron spires atop the dormer windows, to the decorative stone pilasters and ornate brickwork, we are fortunate to have 108 Main Street as our home and kitchen.</p>
      </div>
      <div class="clear"></div>
      <div class="grid_7">
        <h1>belfast, maine</h1>
        <p>
      Nestled in the heart of the Maine coast, our community is as beautiful and idyllic as Thoreau’s dreams. Whether it’s a summer vacation or a four season homestead, our jewel in the Penobscot Bay is a sight to be hold. We at The Gothic are blessed to have the local support and love required to make our mission successful.</p>
      </div>
      <div class="grid_5 omega">
        <img src="images/circle3.png" alt="The Food"/>
      </div>
      <div class="clear"></div>
	  </div>   
	</div>
</div>

<div class="slide" id="slide5" data-slide="5" data-stellar-background-ratio="0.1">
	<div class="padding_slide5">
		<div class="container clearfix">
		
		</div>
	</div>
</div>

<div class="slide" id="slide6" data-slide="6" data-stellar-background-ratio="0.5">
	<div class="container clearfix">
		<div id="content" class="row">
      <div class="grid_7">
        <h1>reservations</h1>
        <p>For dinner we recommend reservations but gladly accept walk-ins. Reservations for lunch are not required.</p>
        <h2>large parties</h2>
        <p>For parties larger than four, please <a href="mailto:host@thegothicrestaurant.com" title="host@thegothicrestaurant.com">email us</a> or call (207) 338-GOTH.</p>
      </div>
      <div class="grid_5 omega">
        <iframe id="seatme-widget" frameborder="0" width="240" height="515" src="https://www.seatme.com/api/v3/widget.htm?restaurant-id=0a0ae4f6-d2f4-11e2-bfcb-12314000ca9c&mobile-prompt=true&color-scheme=dark&color=%23a6b2a3"></iframe><style type="text/css">#seatme-link a:link {text-decoration: none; color:#b3b3b3} #seatme-link a:hover {text-decoration: none; color:#066382} #seatme-link a:visited {text-decoration: none; color:#066382}</style>
      </div>
      <div class="clear"></div>
	  </div>   
	</div>
</div>

<div class="slide" id="slide7" data-slide="7" data-stellar-background-ratio="0.1">
	<div class="padding_slide7">
		<div class="container clearfix">
		
		</div>
	</div>
</div>

<div class="slide" id="slide8" data-slide="8" data-stellar-background-ratio="0.5">
	<div class="container clearfix">
		<div class="row">
			<h1>connect</h1>

		</div>		
		<div class="clear"></div>
	</div>
	
	<!--<div id="map_block"><iframe width="100%" height="722" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=los+angeles&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=53.080379,114.169922&amp;ie=UTF8&amp;hq=&amp;hnear=Los+Angeles,+California&amp;ll=34.052234,-118.243685&amp;spn=0.003427,0.006968&amp;t=m&amp;z=14&amp;output=embed"></iframe></div>-->
</div>


<div id="footer">
	<div class="container clearfix">
		<div class="copyright">&copy; 2013 The Gothic Restaurant</div>
		<div id="back_top"><a class="button" title="" data-slide="1">top</a></div>
	</div>
</div>


</body>
</html>
